.hero {
	height: clamp(500px, calc(70vh + var(--spacing-lg)), 900px);
	padding-bottom: var(--spacing-sm);	

	display: flex;
	align-items: flex-end;
	justify-content: center;
	
	position: relative;		
}

.nameTitleContainer {
	font-size: 1.5rem;
	position: absolute;
	left: -10%;
	top: 50%;
}

.name {
	font-weight: 200;
	animation: slideLeft 1.5s ease-in-out 1s backwards;
}

.title {
	font-weight: 600;
	animation: slideLeft 1.5s ease-in-out 1.5s backwards;
}


.circle {
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	border: 2px solid;
	height: auto;
	position: absolute;
}

.circleMain {
	width: clamp(50%, 70%, 700px);
	/* max-height: 90%; */
	border-color: var(--border-large-color);
	box-shadow: 0 0 15px 3px var(--border-large-color);
	top: 0;
	left: 50%;	
	transform: translate(-50%);	
	animation: circleFlash 3s ease-in 1s backwards;	
	background-color: var(--primary-color);
}

.circleSecondary {
	width: 40%;
	border-color: var(--border-small-color);
	top: 0;
	right: -15%;
	background-size: cover;		
	opacity: 0;
	animation: fadeIn 800ms forwards;
}

.socialLinks {
	display: flex;
	gap: var(--spacing-sm);
	z-index: 2;
}

/* ADJUST ANIMATION OFFSET ACCORDING TO SCREEN SIZE */
:root {
	--offset-multiplier: 1;
}

@media screen and (max-width: 768px) {
	:root {
		--offset-multiplier: 0.5;
	}
}


@keyframes circleFlash {
	0% {
		border-color: #d3853d;
		box-shadow: 0 0 15px 3px #d3853d;
	}
	10% {
		border-color: #d3853d;
		box-shadow: calc(-10px * var(--offset-multiplier)) calc(-10px * var(--offset-multiplier)) 15px 8px #d3853d;
	}
	20% {
		border-color: #ffffff;
		box-shadow: calc(-20px * var(--offset-multiplier)) calc(-20px * var(--offset-multiplier)) 15px 8px #ffffff;
	}
	30% {
		border-color: #ffffff;
		box-shadow: calc(-7px * var(--offset-multiplier)) calc(-7px * var(--offset-multiplier)) 15px 10px #ffffff;
	}
	35% {
		border-color: #ffffff;
		box-shadow: 0 0 15px 10px #ffffff;
	}
	40% {
		border-color: #ffffff;
		box-shadow: calc(7px * var(--offset-multiplier)) calc(7px * var(--offset-multiplier)) 15px 10px #ffffff;
	}
	50% {
		border-color: #ffffff;
		box-shadow: calc(20px * var(--offset-multiplier)) calc(20px * var(--offset-multiplier)) 15px 3px #ffffff;
	}
	60% {
		border-color: #ffffff;
		box-shadow: calc(10px * var(--offset-multiplier)) calc(10px * var(--offset-multiplier)) 15px 3px #ffffff;
	}
	70% {
		border-color: #ffffff;
		box-shadow: 0 0 15px 3px #ffffff;
	}
	80% {
		border-color: #d3853d;
		box-shadow: 0 0 10px 3px #d3853d;
	}	
	100% {
		border-color: var(--border-large-color);
		box-shadow: 0 0 15px 3px var(--border-large-color);
	}	
}

@keyframes fadeIn {
	0% {
		transform: translateY(-5px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@media screen and (min-width: 768px) {
	.hero {
		height: 82vh;
	}
	
	.nameTitleContainer {
		font-size: 2rem;
	}
  }

@media screen and (min-width: 1060px) {
	.nameTitleContainer {
		font-size: 2.5rem;
	}
  }

  @keyframes slideLeft {
	0% {
		transform: translateX(5%);
		opacity: 0;
	}	
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}