.hero {
	height: clamp(500px, calc(80dvh + var(--spacing-lg)), 900px);

	display: flex;
	align-items: flex-end;
	justify-content: center;
	
	position: relative;	
}

.nameTitleContainer {
	font-size: 1.5rem;
	position: absolute;
	left: -10%;
	top: 50%;
}

.name {
	font-weight: 200;
}

.title {
	font-weight: 600;
}

.circle {
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	border: 2px solid;
	height: auto;
	position: absolute;
}

.circleMain {
	width: 70%;
	border-color: #4f02f6;
	box-shadow: 0 0 15px 3px #4f02f6;
	top: 0;
	left: 50%;
	transform: translate(-50%);	
	animation: circleFlash 3s 1s backwards;
}

.circleSecondary {
	width: 40%;
	border-color: #d3853d;
	top: 0;
	right: -15%;
	background-image: url("../../assets/images/profile-cartoon.jpeg");
	background-size: cover;
}

.socialLinks {
	display: flex;
	gap: var(--spacing-sm);
}

@keyframes circleFlash {

	0% {
		border-color: #d3853d;
		box-shadow: 0 0 15px 3px #d3853d;
	}
	35% {
		border-color: #ffffff;
		box-shadow: 0 0 15px 3px #ffffff;
	}
	100% {
		border-color: #4f02f6;
		box-shadow: 0 0 15px 3px #4f02f6;		
	}	
}