.contactSection {
	height: clamp(10rem, 60vw, 1145px);
	max-height: 690px;
	position: relative;
	font-weight: 300;
	overflow: hidden;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	/* Start hidden and fade + slide in */
	opacity: 0; 
	transform: translateY(20px); 
  	transition: opacity 0.6s ease-out, transform 0.6s ease-out; 
}

.fadeIn {
	opacity: 1;
	transform: translateY(0); 
}

.contactSection h2 {	
	margin-bottom: var(--spacing-sm);
}	

.contactSection a {
	display: flex;
	gap: var(--spacing-sm);
	margin-bottom: var(--spacing-sm);	
	transition: letter-spacing 0.3s ease-out;
}

.contactSection a:hover {
	/* font-weight: 400;	 */
	letter-spacing: 1.2px;
}

.contactSection a:hover .phoneIcon {
	animation: wobbleIcon 600ms ease-in-out infinite;
}
.contactSection a:hover .mailIcon {
	animation: sendMailLeft 800ms ease-in-out 2;
}

.contactSection svg {
	fill: white;
	width: 1.3rem;
	height: 1.3rem;
}

.contactSection path {
	stroke: white;
	fill: black;
}

/* ----- Circle ------- */

.circle {
	height: auto;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	border: 2px solid;
	width: clamp(300px, 80%, 1000px);
	border-color: #4f02f6;
	box-shadow: 0 0 15px 3px #4f02f6;
	
	position: absolute;
	/* top: -10%; */
	left: 50%;
	transform: translate(-50%);

	display: flex;	
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@keyframes wobbleIcon {
	0% {
		transform: rotate(0deg);
	}
	20% {
		transform: rotate(5deg);
	}
	40% {
		transform: rotate(-10deg);
	}
	60% {
		transform: rotate(5deg);
	}
	80% {
		transform: rotate(-10deg);
	}
	100% {
		transform: rotate(0deg);
	}
}	

@keyframes sendMailLeft {	
	0% {
		transform: translateY(0) scale(1);

		opacity: 1;
	}
	100% {
		transform: translateY(-80%) scale(0.5);		
		opacity: 0;
	}
	
}