/* Color Variables */
:root {
	--primary-color: #201f1f;
	--secondary-color: white;

	--border-large-color: #4F02F6;
	--border-small-color: #D5691A;
	--button-gradient-color: linear-gradient(90deg, #D08936, #B14848);
	
}

/* Spacing Variables */
:root {
	--spacing-xs: 0.25rem;
	--spacing-sm: 0.75rem;
	--spacing-md: 1rem;
	--spacing-lg: 2rem;
	--spacing-xl: 4rem;
}
